<!DOCTYPE html>
<html lang="ru" class="no-js page">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{#if title}}{{ title }} – {{ data.company }}{{/if}}</title>
  {{> fonts }}
  <!-- build:css -->
  <link rel="stylesheet" href="{{root}}css/app.css">
  <!-- endbuild -->
  <link rel="icon" href="{{root}}favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{root}}apple-touch-icon.png">
</head>
<body class="page-body">

{{!> header }}

<!-- Workarea -->
<main class="page-main">
  {{> body}}
</main>
<!-- / Workarea -->

{{!> footer }}

<!-- Scripts -->

<!-- build:js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js" integrity="sha512-aC5ZfKOuGRUiJCv+E/EIWsj49E02BQpuLQbixZe+16Lm1R6AepHZA1xvY92XBQNNbwQoqG4DXCGxwoxBFb5Q1A==" crossorigin="anonymous"></script>
<script src="{{root}}js/app.js"></script>
<script>
  jQuery(document).ready(function () { spa.initModule( jQuery('#spa') ); })
  //Тестирование
  var peopleDb = spa.model.people.get_db()
  peopleDb().each(function (person,idx) {
    console.log(person.name)
  })
  var currentUser = spa.model.people.get_db()
  //currentUser.get_is_anon()
</script>

<!-- endbuild -->
<!--script src="{{root}}js/project.js"></script>
<script src="{{root}}js/backend.js"></script-->
<!-- / Scripts -->

{{!> modal-ajax }}

<a class="backtop" href="#" data-backtop title="Наверх" data-right="20">{{> mixin-svg i="up"}}</a>

<!-- build:pixel-glass -->
{{!> pixel-glass }}
<!-- endbuild -->
</body>
</html>
