# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/dif/
/dist
/dist/css/
/dist/js/app.min.js.map
/dist/js/app.min.js
/dist/js/project.js
/dist/js/project.min.js
/dist/*.html
/dist/**/*.html
/dist/ajax/
