.page-main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #777;
}
#spa {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 15em;
  min-width: 35em;
  background: #fff;
  //border-radius: 0px 8px 0 8px;
  overflow: hidden;
}
/*.spa-slider {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 16px;
  cursor: pointer;
  border-radius: 8px 0 0 0;
  background-color: #f00;
}*/
.spa-x-select {}
.spa-x-clerfloat {
  height: 0!important;
  float: none!important;
  visibility: hidden!important;
  clear: both!important;
}

.page-main__decor {
  position: relative;
  z-index: 1;
  @include md-block() {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      background-image: url('../img/koleso.png');
      width: 435px;
      height: 306px;
      z-index: -1;
    }
  }
}

.page-main__header {
  margin-bottom: rem-calc(20);

  font-size: rem-calc(24);
  font-weight: $text-bold;
  line-height: 1.2;

  @include md-block() {
    font-size: rem-calc(33);
  }
}

.page-main__header-sub {
  font-size: rem-calc(18);
  font-weight: $text-normal;

  @include md-block() {
    font-size: rem-calc(20);
  }
}

.page-main__header-light {
  margin-bottom: rem-calc(20);
  font-size: rem-calc(24);
  font-weight: $text-light;

  @include md-block() {
    margin-bottom: 0;
    font-size: rem-calc(30);
  }
}
