<style type="text/css">
  @font-face {
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato-Bold'),
        url('fonts/Lato-Bold.woff2') format('woff2'),
        url('fonts/Lato-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lato';
    src: local('Lato'), local('Lato-Regular'),
        url('fonts/Lato-Regular.woff2') format('woff2'),
        url('fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lato';
    src: local('Lato Light'), local('Lato-Light'),
        url('fonts/Lato-Light.woff2') format('woff2'),
        url('fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
</style>
