<div class="pagination" role="navigation" aria-label="pagination">
  <a class="pagination__item pagination__prev" disabled>
    {{> mixin-svg i="arrow"}}
  </a>
  <ul class="pagination__list">
    <li class="pagination__item">
      <a class="pagination__link is-current" aria-label="Page 1" aria-current="page">1</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" aria-label="Goto page 2">2</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" aria-label="Goto page 3">3</a>
    </li>
  </ul>
  <a class="pagination__item pagination__next">
    {{> mixin-svg i="arrow"}}
  </a>
</div>
